In [46]:
import pandas as pd
#from pandas_profiling import ProfileReport
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
data = pd.read_excel("modified-leadconversion.xlsx")
data1=data
data.head()

,Program_Type,ProgramSubType,UIAN,Inquiry_Source,Inquiry_Source_Detail,Is_Lead_From_Prohibited_State,Group_Opportunity,Country,Is_Military_Lead,BOAS_Self_Apply,Highest_Level_of_Education,Converted,Email_Domain
0,Certificate,Agile Management,Villanova University,Website,Direct Visit,0,0,United States of America,0,0,Some College,0,yahoo.com
1,Undergraduate,Psychology,Villanova University,cpc,Bing,0,0,United States of America,0,0,High School,0,gmail.com
2,Certificate,Agile Management,Villanova University,Website,Direct Visit,0,0,United States of America,1,0,Some College,0,yahoo.com
3,Certificate,Supply Chain Management,New England College,Website,Direct Visit,0,0,United States of America,1,0,NaN,0,gmail.com
4,Undergraduate,Business,Florida Institute of Technology,Website,NaN,0,0,United States of America,0,0,Some College,1,gmail.com

In [48]:
data.shape

(100000, 13)

In [49]:
data.isnull().sum()

Program_Type                        11
ProgramSubType                    4570
UIAN                                 0
Inquiry_Source                    1411
Inquiry_Source_Detail            26746
Is_Lead_From_Prohibited_State        0
Group_Opportunity                    0
Country                           3019
Is_Military_Lead                     0
BOAS_Self_Apply                      0
Highest_Level_of_Education       38449
Converted                            0
Email_Domain                       804
dtype: int64

In [50]:
data1=pd.read_excel("modified-leadconversion.xlsx")

In [51]:
data_profile = ProfileReport(data)
data_profile.to_file("data_profile.html")

NameError: name 'ProfileReport' is not defined

In [52]:
data_profile

NameError: name 'data_profile' is not defined

In [53]:
data.isnull().sum()

Program_Type                        11
ProgramSubType                    4570
UIAN                                 0
Inquiry_Source                    1411
Inquiry_Source_Detail            26746
Is_Lead_From_Prohibited_State        0
Group_Opportunity                    0
Country                           3019
Is_Military_Lead                     0
BOAS_Self_Apply                      0
Highest_Level_of_Education       38449
Converted                            0
Email_Domain                       804
dtype: int64

In [54]:
data.dtypes

Program_Type                     object
ProgramSubType                   object
UIAN                             object
Inquiry_Source                   object
Inquiry_Source_Detail            object
Is_Lead_From_Prohibited_State     int64
Group_Opportunity                 int64
Country                          object
Is_Military_Lead                  int64
BOAS_Self_Apply                   int64
Highest_Level_of_Education       object
Converted                         int64
Email_Domain                     object
dtype: object

In [55]:
cat_columns = data.select_dtypes(['object']).columns
data[cat_columns] = data[cat_columns].apply(lambda x: x.astype('category'))
cat_to_code = {col: dict(zip(data[col], data[col].cat.codes)) for col in cat_columns}
code_to_cat = {k: {v2: k2 for k2, v2 in v.items()} for k, v in cat_to_code.items()}
data[cat_columns] = data[cat_columns].apply(lambda x: x.cat.codes)

In [56]:
data.head()

,Program_Type,ProgramSubType,UIAN,Inquiry_Source,Inquiry_Source_Detail,Is_Lead_From_Prohibited_State,Group_Opportunity,Country,Is_Military_Lead,BOAS_Self_Apply,Highest_Level_of_Education,Converted,Email_Domain
0,0,3,11,20,9,0,0,186,0,0,26,0,7668
1,3,33,11,24,5,0,0,186,0,0,15,0,2791
2,0,3,11,20,9,0,0,186,1,0,26,0,7668
3,0,39,4,20,9,0,0,186,1,0,-1,0,2791
4,3,6,1,20,-1,0,0,186,0,0,26,1,2791

In [57]:
data.dtypes

Program_Type                      int8
ProgramSubType                    int8
UIAN                              int8
Inquiry_Source                    int8
Inquiry_Source_Detail             int8
Is_Lead_From_Prohibited_State    int64
Group_Opportunity                int64
Country                          int16
Is_Military_Lead                 int64
BOAS_Self_Apply                  int64
Highest_Level_of_Education        int8
Converted                        int64
Email_Domain                     int16
dtype: object

In [58]:
data.info()
x = data.loc[:, data.columns != 'Converted']
x.head()
y = data['Converted']
y.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Program_Type                   100000 non-null  int8
 1   ProgramSubType                 100000 non-null  int8
 2   UIAN                           100000 non-null  int8
 3   Inquiry_Source                 100000 non-null  int8
 4   Inquiry_Source_Detail          100000 non-null  int8
 5   Is_Lead_From_Prohibited_State  100000 non-null  int64
 6   Group_Opportunity              100000 non-null  int64
 7   Country                        100000 non-null  int16
 8   Is_Military_Lead               100000 non-null  int64
 9   BOAS_Self_Apply                100000 non-null  int64
 10  Highest_Level_of_Education     100000 non-null  int8
 11  Converted                      100000 non-null  int64
 12  Email_Domain                   100000 non-null  int16
dtypes: int16(2), int64(5), int8(6)
memory usage: 4.8 MB

0    0
1    0
2    0
3    0
4    1
Name: Converted, dtype: int64

In [60]:
data.isnull().sum()

Program_Type                     0
ProgramSubType                   0
UIAN                             0
Inquiry_Source                   0
Inquiry_Source_Detail            0
Is_Lead_From_Prohibited_State    0
Group_Opportunity                0
Country                          0
Is_Military_Lead                 0
BOAS_Self_Apply                  0
Highest_Level_of_Education       0
Converted                        0
Email_Domain                     0
dtype: int64

In [61]:
import numpy as np
np.unique(y,return_counts=True)

(array([0, 1], dtype=int64), array([80982, 19018], dtype=int64))

In [62]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)
logreg = LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)
logreg.coef_
t = logreg.predict_proba(x_test)
t
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8106

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# equal samples

In [63]:
data['Converted'].value_counts()

0    80982
1    19018
Name: Converted, dtype: int64

In [64]:
new_data = data.groupby('Converted').apply(lambda x: x.sample(19018, replace=False)).reset_index(drop=True)

In [65]:
new_data['Converted'].value_counts()

1    19018
0    19018
Name: Converted, dtype: int64

In [19]:
new_data.to_excel('example.xlsx')

In [66]:
cat_columns = new_data.select_dtypes(['object']).columns
new_data[cat_columns] = new_data[cat_columns].apply(lambda x: x.astype('category'))
cat_to_code = {col: dict(zip(new_data[col], new_data[col].cat.codes)) for col in cat_columns}
code_to_cat = {k: {v2: k2 for k2, v2 in v.items()} for k, v in cat_to_code.items()}
new_data[cat_columns] = new_data[cat_columns].apply(lambda x: x.cat.codes)

In [68]:
new_data.dtypes

Program_Type                      int8
ProgramSubType                    int8
UIAN                              int8
Inquiry_Source                    int8
Inquiry_Source_Detail             int8
Is_Lead_From_Prohibited_State    int64
Group_Opportunity                int64
Country                          int16
Is_Military_Lead                 int64
BOAS_Self_Apply                  int64
Highest_Level_of_Education        int8
Converted                        int64
Email_Domain                     int16
dtype: object

In [69]:
new_data.head()

,Program_Type,ProgramSubType,UIAN,Inquiry_Source,Inquiry_Source_Detail,Is_Lead_From_Prohibited_State,Group_Opportunity,Country,Is_Military_Lead,BOAS_Self_Apply,Highest_Level_of_Education,Converted,Email_Domain
0,0,30,7,20,11,0,0,186,0,0,-1,0,2791
1,3,33,4,5,55,0,0,186,0,0,-1,0,2791
2,3,7,7,24,17,0,0,186,0,0,-1,0,587
3,3,17,1,5,28,0,0,186,0,0,26,0,7668
4,0,32,11,24,17,0,0,186,0,0,8,0,2791

In [81]:
new_data.drop(['Highest_Level_of_Education','Is_Military_Lead'],axis=1,inplace=True)

In [70]:
new_data['Email_Domain'].value_counts()

2791    21133
7668     5412
3261     1730
439       817
3373      661
        ...
2293        1
244         1
6359        1
2261        1
6147        1
Name: Email_Domain, Length: 3733, dtype: int64

In [71]:
new_data.info()
x = new_data.loc[:, new_data.columns != 'Converted']
x.head()
y = new_data['Converted']
y.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38036 entries, 0 to 38035
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Program_Type                   38036 non-null  int8
 1   ProgramSubType                 38036 non-null  int8
 2   UIAN                           38036 non-null  int8
 3   Inquiry_Source                 38036 non-null  int8
 4   Inquiry_Source_Detail          38036 non-null  int8
 5   Is_Lead_From_Prohibited_State  38036 non-null  int64
 6   Group_Opportunity              38036 non-null  int64
 7   Country                        38036 non-null  int16
 8   Is_Military_Lead               38036 non-null  int64
 9   BOAS_Self_Apply                38036 non-null  int64
 10  Highest_Level_of_Education     38036 non-null  int8
 11  Converted                      38036 non-null  int64
 12  Email_Domain                   38036 non-null  int16
dtypes: int16(2), int64(5), int8(6)
memory usage: 1.8 MB

0    0
1    0
2    0
3    0
4    0
Name: Converted, dtype: int64

In [82]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state = 6)
logreg = LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)
logreg.coef_
t = logreg.predict_proba(x_test)
t
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8088

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [89]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=1000,random_state=14)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=14, verbose=0,
                       warm_start=False)

In [90]:
accuracy=rf.score(x_test,y_test)*100
print("Random Forest Accuracy Score :" ,accuracy)

Random Forest Accuracy Score : 88.79

In [91]:
import pickle
filename = 'model/model.pkl'
pickle.dump(rf, open(filename, 'wb'))

In [92]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)

# random forests

In [83]:
x = data.loc[:, data.columns != 'Converted']
y = data['Converted']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20,random_state=0)

In [84]:
x_train.head(1)

,Program_Type,ProgramSubType,UIAN,Inquiry_Source,Inquiry_Source_Detail,Is_Lead_From_Prohibited_State,Group_Opportunity,Country,Is_Military_Lead,BOAS_Self_Apply,Highest_Level_of_Education,Email_Domain
10382,0,0,1,20,-1,0,0,186,0,0,15,2791

In [85]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=1000,random_state=14)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=14, verbose=0,
                       warm_start=False)

In [86]:
accuracy=rf.score(x_test,y_test)*100
print("Random Forest Accuracy Score :" ,accuracy)

Random Forest Accuracy Score : 88.79

In [87]:
import pickle
filename = 'model/model.pkl'
pickle.dump(rf, open(filename, 'wb'))

In [88]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)

In [79]:
print(result)

0.8879

In [80]:
prediction = rf.predict([[0,8,1,5,87,0,0,186,0,0,26,2791]])
prediction
int(prediction[0])

0

In [103]:
from flask import Flask, render_template 
import pickle
from flask_bootstrap import Bootstrap
from flask_wtf import FlaskForm
from wtforms import SubmitField, validators, FloatField, SelectField 
import pandas as pd

In [104]:
app = Flask(__name__) 
app.config['SECRET_KEY'] = 'any secret key'

In [105]:
bootstrap = Bootstrap(app)

In [106]:
program_type_index=['Certificate','Undergraduate','Graduate','None']
programsubtype_index=['Pyschology','Business','Project Management','Human Resourse & Leadership','Six Sigma','Other values']
uian_index=['Villanova University','Florida Institute of Technology','Michigan State University','New England College','University of Notre Dame','Other values']
inquiry_source_index=['cpc','Website','Internet','paid+social','Paid Social Media','Other values']
inquiry_source_detail_index=['Google','Direct Visit','facebook.com','Bing','Facebook','Other values']
is_lead_from_prohibited_state_index=['Yes','No']
group_oppurtunity_index=['Yes','No']
country_index=['United States of America','India','Nigeria','Canada','Mexico','Other values']
is_military_lead_index=['Yes','No']
boas_self_apply_index=['Yes','No']
email_domain_index=['gmail.com','yahoo.com','hotmail.com','aol.com','icloud.com','Other values']

In [107]:
model = pickle.load(open('C:/Users/Delll/Documents/ai-project/flaskapp/model/model.pkl', 'rb')) 
feature_names= ['Program_Type','ProgramSubType','UIAN','Inquiry_Source','Inquiry_Source_Detail','Group_Oppurtunity','Country','Is_Military_Lead','BOAS_Self_Appl','Email_Domain']

In [108]:
class FeaturesForm(FlaskForm):
    Program_Type=SelectField('Program_Type',[validators.DataRequired()],choices=[('Certificate','Certificate'),('Undergraduate','Undergraduate'),('Graduate','Graduate'),('None','None')])   
    ProgramSubType=SelectField('ProgramSubType',[validators.DataRequired()],choices=[('Pyschology','Psychology'),('Business','Business'),('Project Management','Project Management'),('Human Resourse & Leadership','Human Resourse & Leadership'),('Six Sigma','Six Sigma'),('Other values','Other values')])
    UIAN=SelectField('UIAN',[validators.DataRequired()],choices=[('Villanova University','Villanova University'),('Florida Institute of Technology','Florida Institute of Technology'),('Michigan State University','Michigan State University'),('New England College','New England College'),('University of Notre Dame','University of Notre Dame'),('Other values','Other values')])
    Inquiry_Source=SelectField('Inquiry_Souce',[validators.DataRequired()],choices=[('cpc','cpc'),('Website','Website'),('Internet','Internet'),('paid+social','paid+school'),('Paid Social Media','Paid Social Media'),('Other values','Other values')])
    Inquiry_Source_Detail=SelectField('Inquiry_Source_Detail',[validators.DataRequired()],choices=[('Google','Google'),('Direct Visit','Direct Visit'),('facebook.com','facebook.com'),('Bing','Bing'),('Facebook','Facebook'),('Other values','Other values')])
    Is_Lead_From_Prohibited_State=SelectField('Is_Lead_From_Prohibited_State',[validators.DataRequired()],choices=['Yes','Yes','No','No'])
    Group_Oppurtunity=SelectField('Group_Oppurtunity',[validators.DataRequired()],choices=[('Yes','Yes'),('No','No')])
    Country=SelectField('Country',[validators.DataRequired()],choices=[('United States of America','United States of America'),('India','India'),('Nigeria','Nigeria'),('Canada','Canada'),('Mexico''Mexico'),('Other values','Other values')])
    Is_Military_Lead=SelectField('Is_Military_Lead',[validators.DataRequired()],choices=[('Yes','Yes'),('No','No')])
    BOAS_Self_Apply=SelectField('BOAS_Self_Apply',[validators.DataRequired()],choices=[('Yes','Yes'),('No','No')])
    Email_Domain=SelectField('Email_Domain',[validators.DataRequired()],choices=[('gmail.com','gmail.com'),('yahoo.com','yahoo.com'),('hotmail.com','hotmail.com'),('aol.com','aol.com'),('icloud.com','icloud.com'),('Other values','Other values')])

In [109]:
def predict():
    form = FeaturesForm()
    if form.validate_on_submit():
        Program_Type=form.Program_Type.data
        Program_Type_val=program_type_index.index(Program_Type)
        ProgramSubType=form.ProgramSubType.data
        ProgramSubType_val=programsubtype_index.index(ProgramSubType)
        UIAN=form.UIAN.data
        uian_val=uian.data_index.index(UIAN)
        Inquiry_Source=form.Inquiry_Source.data
        Inquiry_Source_val=inquiry_source_index.index(Inquiry_Source)              
        Inquiry_Source_Detail=form.Inquiry_Source_Detail.data
        Inquiry_Source_Detail_val=inquiry_source_detail_index.index(Inquiry_Source_Detail)
        Is_Lead_From_Prohibited_State=form.Is_Lead_From_Prohibited_State.data
        Is_Lead_From_Prohibited_State_val=is_lead_from_prohibited_state_index.index(Is_Lead_From_Prohibited_State)
        Group_Opportunity =form.Group_Opportunity.data
        Group_Opportunit_val =group_opportunity_index.index( Group_Opportunity)
        Country=form.Country.data
        Country_val=country_index.index(Country)
        Is_Military_Lead=form.Is_Military_Lead.data
        Is_Military_Lead_val=is_military_lead_index.index(Is_Military_Lead)
        BOAS_Self_Apply=form.BOAS_Self_Apply.data
        BOAS_Self_Apply_val=boas_self_apply_index.index(BOAS_Self_Apply)
        Highest_Level_of_Education=form.Highest_Level_of_Education.data
        Highest_Level_of_Education_val=highest_level_of_education_index.index(Highest_Level_of_Education)
        Email_Domain=form.Email_Domain.data 
        Email_Domain_val=email_domain_index.index(Email_Domain)
        features = [Program_Type,ProgramSubType,UIAN,Inquiry_Source,Inquiry_Source_Detail,Group_Oppurtunity,Country,Is_Military_Lead,BOAS_Self_Apply,Email_Domain]    
        features_val = [Program_Type_val,ProgramSubType_val,UIAN_val,Inquiry_Source_val,Inquiry_Source_Detail_val,Group_Oppurtunity_val,Country_val,Is_Military_Lead_val,BOAS_Self_Apply_val,Email_Domain_val] 
        df = pd.DataFrame([features], columns=feature_names)     
        prediction = model.predict([features_val])      
        result = sales_index[prediction[0]]      
        return render_template('result.html', df = df, result=result)
    return render_template('index.html', form=form)
    if __name__ == '__main__':
        app.run(debug=True)